<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Doblin" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Doblin" %>">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => 'reload' %>

    <%= csrf_meta_tags %>
  </head>
  <body>
    <header>
      <%= render 'layouts/navigation' %>
    </header>
    <main role="main">
       <%= render 'layouts/messages' %>
       <div class="container">
         <div class="row">
           <div class="col-sm-12">
             <%= yield %>
           </div>
         </div>
       </div>

    </main>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => 'reload' %>
  </body>
</html>
